/* Google fonts */

/* Lato */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');


/* =============================================================================================================== */

/* Site Colours */
/* #3D73DD ROYAL BLUE */
/* #0E2045 OXFORD BLUE */
/* #FF5C5C SUNSET ORANGE */
/* #A6AFBD WILD BLUE YONDER */
/* #FFFFFF WHITE */

/* =============================================================================================================== */
/*Html and Body*/

html{

    scroll-behavior: smooth;
    overflow-x: hidden;

}

body{

    overflow-x: hidden; /*--right gutter fix--*/
    font-family: "Lato";

    margin: 0;
    padding: 0;

}


/* =============================================================================================================== */
/* Hero Section */

.video-background{
  
	position: relative;
	width: 100%;
  
	min-height: 100vh;	

	background-image: url(../img/images/escritorio/back_321.jpg);
	
	background-size:cover;
	

    
	
	background-position-x: 0px;
	
  
}

.video-wrap{

	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	

	background: rgb(100,101,102);
	background: linear-gradient(175deg, rgba(61,115,221,0.8777485994397759) 10%, rgba(14,32,69,0.8477766106442577) 85%);

}


  
.caption{
  
	position: absolute;
	top: 34%;
	width: 100%;

	color: #ffffff;;
  
}



.btn{

	background-color: #D3A55E;
	color: #ffffff;

	font-size: 13px;

	font-weight: 600;
	border-radius: 1px;
	border: 1px;

	transition: .5s;

}

.btn:hover{

	background-color: #646566;
	color: #D3A55E;

	font-size: 13px;

	font-weight: 600;
	border-radius: 1px;

}

.btn:focus{

	outline: none;

}


/* =============================================================================================================== */
/*Banner Caption*/


  
.caption h3{
    
    font-size: 3.375rem;

    color: #ffffff;
  
    padding-bottom: 1rem;

    text-align: center;
    
  
}

.caption p{

    color: #ffffff;

    justify-content: center;

    text-align: center;

    padding-bottom: 3.2rem;

}


.caption .btn{

    display: block;

    font-size: 18px;
    font-weight: 700;

    color: #ffffff;
    background-color: #3D73DD;

    border-radius: 50px;
    border-color: inherit;
    border: 0;

    margin: 25px auto;

    width: 150px;

    text-align: center;

    transition: .5s;

}

.caption .btn:hover{

    background-color: #FF5C5C;
    border-radius: 0;
    color: black;

    

}

.caption .btn:focus{

    outline: none;
    box-shadow:none;

    

}

.caption hr{

    border: 1px solid #0E2045;

    width: 25%;

}


/* =============================================================================================================== */
/*NavBar*/

nav{

    max-width: 1200px;
    margin:auto;

    transition: 1s;

}

nav .navbar-brand img{

    height: 50px;
    width: 80px;

}

nav .nav-item{

    

   

    padding-left: 22px;
    padding-right: 22px;
   
    margin: 1px;

    transition: .3s;
}

nav .nav-item.special{

    background-color:rgba(255, 92, 92, 0.774);

    border-radius: 1.5rem;
    
    padding: 0;

    padding: 2px 15px;

    

}

nav .nav-item.special:hover{

    background-color:rgb(255, 92, 92);

}

nav .nav-item.special:hover .nav-link{

    color: white;

}


nav .nav-item.special .nav-link{

    color: black;
    font-weight: 600;

}




nav .nav-link{

    color: white;

    transition: .3s;
}

nav .nav-link:hover{

    color: black;
    

}


nav .navbar-toggler{

    outline:0;

    border-color:white !important;

}

.navbar-dark .navbar-nav .nav-link{

    color: white;
    transition: .5s;

}

.navbar-dark .navbar-nav .nav-link:hover{

    color: #FF5C5C;


}

nav .show .nav-item{

    background-color:rgba(0,0,0,.1);
    border-radius: 1rem;

}

nav .show .nav-item:hover{

    background: rgba(0,0,0,.1);
    color: white;

}

.shrink{

    transition: .5s;
    opacity: 0;
    

}



/* =============================================================================================================== */
/*HeroBanner*/

.hero{

    height: 100vh;

}


/* =============================================================================================================== */


/*--- iOS Landing Page Fix --*/
.landing {
	position: relative;
	width: 100%;
	height: 100vh;
	display: table;
	
	z-index: 1;
  }
  .home-wrap {
	clip: rect(0, auto, auto, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
  .home-inner {
	position: fixed;
	display: table;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
			transform: translateZ(0);
	will-change: transform;
  }


/* =============================================================================================================== */
/*Banner Caption*/


  
.caption h3{
    
    font-size: 3.375rem;

    color: #ffffff;
  
    padding-bottom: 1rem;

    text-align: center;
    
  
}

.caption p{

    color: #ffffff;

    justify-content: center;

    text-align: center;

    padding-bottom: 3.2rem;

}


.caption .btn{

    display: block;

    font-size: 18px;
    font-weight: 700;

    color: #ffffff;
    background-color: #3D73DD;

    border-radius: 50px;
    border-color: inherit;
    border: 0;

    margin: 25px auto;

    width: 150px;

    text-align: center;

    transition: .5s;

}

.caption .btn:hover{

    background-color: #FF5C5C;
    border-radius: 0;
    color: black;

    

}

.caption .btn:focus{

    outline: none;
    box-shadow:none;

    

}

.caption hr{

    border: 1px solid #0E2045;

    width: 25%;

}


/* =============================================================================================================== */
/*Body-1*/

.body-1{

    padding: 5rem .5rem;

}


.body-1 h2{

    font-size: 35px;
    font-weight: 300;

}

.body-1 p{

    font-weight: 400;
    color: #728896;
    justify-content: left;
    text-indent: 10px;
    /*color: #666666;*/

}

.body-1 img{

    width: 500px;
    height: 350px;

}

.body-1 figure img{

    width: 200px;
    height: 200px;

    border: 1px solid black;
    border-radius: 50%;

}

.body-1 figure p{

    text-align: center;

}


/* =============================================================================================================== */
/*Body-2*/

.body-2{

    padding: 5rem .5rem;

    background-color: #F5F7F8;
    
    line-height: 30px;

}

.body-2 h2{

    font-size: 35px;
    font-weight: lighter;

}

.body-2 p{

    font-weight: 400;
    color: #728896;
    justify-content: center;
    
    /*color: #666666;*/

}

.body-2 .btn{

    background: #3D73DD;

    margin: 2.5rem 0;

    width: 150px;
    height: 3rem;
    transition: .5s;
}

.body-2 .btn:hover{

    background:#FF5C5C;
    

}

.body-2 .btn:focus{

    outline: 0;

}



/* =============================================================================================================== */
/*Card*/


.card{

    /*width: 350px;*/
    width: 100%;
    height: 600px;

    justify-content: left;

    font-weight: 400;

    border-radius: .5rem;

    margin: 15px;

}

.card:first-child{

    margin-left: 0;

}

.card:last-child{

    margin-right:0 ;

}

.card img{

    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;

    height: 200px;

}

.card .card-body{

    padding: 30px;
    padding-bottom:110px;

}

.card h4{

    font-size: 21px;


}

.card p{

    color: #666666;

}



/* =============================================================================================================== */
/*Body-3*/

.body-3{
    
    color: white;

}

.body-3 h2{

    font-size: 35px;
    font-weight: lighter;

    text-align: center;

    margin-bottom: 2rem;

}

.body-3 p{

    font-size: 21px;
    justify-content: center;
    font-weight: 400;

}

.body-3 .btn{

    display: block;

    font-size: 18px;
    font-weight: 700;

    color: #ffffff;

    border-radius: 50px;
    border-color: inherit;
    border: 0;

    background-color: #161925;

    margin: 25px auto;

    width: 150px;

    text-align: center;

    transition: .5s;

    margin-top: 2rem;

}

.body-3 .btn:hover{

    background-color: #406E8E;
    color: white;

    border-radius: 0;

}

.body-3 .caption3{

    margin-top: 50px;

}


/* =============================================================================================================== */


/* Hero Section */

.body-3 .video-background{
  
	position: relative;
	width: 100%;	

	background-image: url(../img/building.jpg);
	
	background-size:cover;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    
	
    background-position-x: 0px;
    
    min-height: 55vh
	
  
}

.body-3 .video-wrap{

	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	

	background: rgb(100,101,102);
    background: linear-gradient(175deg, rgba(61,115,221,0.8777485994397759) 10%, rgba(14,32,69,0.8477766106442577) 85%);
    

}

/* =============================================================================================================== */
/*Button*/

.btn.top-back.show{

    

    position: fixed;

    bottom: 40px;
    right: 40px;


    border-radius: 50%;
    height: 55px;
    width: 55px;

    background: #FF5C5C;
    color: white;

    transition: .9s;

    

}


.btn.top-back:hover{
    

    background: #0E2045;

    color: white;
    
}

.btn.top-back:focus{

    outline: none;
    border: 0;
    box-shadow: none;

}

/* =============================================================================================================== */
/*Body-4*/

.body-4{
    
    line-height: 30px;

    color: #000000;

    padding: 5rem .5rem;


}

.body-4 h2{

    font-size: 35px;
    font-weight: lighter;

    text-align: center;

    margin-bottom: 2rem;

}

.body-4 p{

    color:#666666;

}





/* =============================================================================================================== */
/*Body-5*/

.body-5{

    background-color: #F5F7F8;

    line-height: 30px;

    color: black;

    padding: 5rem .5rem;

}

.body-5 h2{

    font-size: 35px;

    font-weight: lighter;

    text-align: center;

    margin-bottom: 2rem;

}

.body-5 p{

    color:#666666;

}


.body-5 .form-control{

    outline: none;

    height: 45px;
    margin: 10px 0;

}

.body-5 .form-control:focus{
    
    outline: none;
    border:0;
    box-shadow: none;

}

.body-5 textarea{

    
    resize: none;

    height: 130px !important;

}

.body-5 form textarea,.body-5 form input{

    background-color: rgba(0,0,0,.2);

    border-radius: 0;  
    border:0;

}

.body-5 form textarea:focus,.body-5 form input:focus{

    background-color: rgba(0,0,0,.2);
    outline: none;

}

.body-5 .btn{

    background-color: #3D73DD;
    width: 100%;

    transition: .5s;

}

.body-5 .btn:hover{

    background-color: #FF5C5C ;

}

.body-5 .social-media{

    color:black;

}

.body-5 .social-media .social{

    margin: .5rem 1rem;
    text-decoration: none;
    color:black;

    transition: .2s;
}

.body-5 .social-media .social:hover{

    text-decoration: none;
    color: #FF5C5C;
}

.body-5 .social-media a:hover{

    text-decoration: none;
 
}



/* =============================================================================================================== */


.footer{

	background-color: #0E2045;
	background-size: cover;
	background-attachment: fixed;

    color: white;

}

.footer i{

	margin: 10px;

}



.footer .by{

	font-size: 12px;

}

.inline{

	display: flex;
	flex-direction: row;
    color: #a1a1a1;
    color: white;
	text-decoration: none;

	justify-content: space-around;
}

.inline li{
	
	
	list-style-type: none;
	margin: 0 5px;

}

.inline li a{
	
	color: #a1a1a1;
    color: white;

	font-weight: 600;
	font-size: 14px;

	text-decoration: none;
	text-transform: uppercase;

	list-style-type: none;

}

.inline .list-item.special{

    background-color: #FF5C5C;
    border-radius: 5rem;
    padding: 0 20px;

}

@media (max-width: 768px){

    .inline.x{

        flex-direction: column;

    }

    .inline.x .list-item{

        margin-bottom: 15px;
    }


}

