/* Google fonts */

/* Lato */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');


/* =============================================================================================================== */

/* Site Colours */
/* #3D73DD ROYAL BLUE */
/* #0E2045 OXFORD BLUE */
/* #FF5C5C SUNSET ORANGE */
/* #A6AFBD WILD BLUE YONDER */
/* #FFFFFF WHITE */

/* =============================================================================================================== */
/*Html and BodyOK*/

html{

    scroll-behavior: smooth;
    overflow-x: hidden;

}

body{

    margin: 0;
    padding: 0;

    overflow-x: hidden;

    font-family: Lato;

}

p{

    /*color: #728896;*/
    color:#666;
    font-weight: 400; 
    
    justify-content: left;

}


/*Tittles*/
h2{

    margin-bottom: 1rem;

    font-size: 35px;
    font-weight: lighter;

    text-align: center;

}


/* =============================================================================================================== */
/* Buttons */

.btn{

	background-color: #3D73DD;
	color: #ffffff;

    border-radius: 1px;
	border: 1px;

	font-weight: 600;


	transition: .4s;

}

.btn:hover{

	background-color: #A6AFBD;
	color: black;



}

.btn:focus{

	outline: none;

}

/*Top Back Button*/

.btn.top-back.show{

    height: 55px;
    width: 55px;

    background: #A6AFBD;
    color: white;
    
    border-radius: 50%;

    position: fixed;

    bottom: 40px;
    right: 40px;
 
}

.btn.top-back:hover{
    

    background: #3D73DD;

    color: white;
    
}

.btn.top-back:focus{

    outline: none;
    border: 0;
    box-shadow: none;

}

/* =============================================================================================================== */
/*Cards*/


.card{

    width: 100%;
    height: 600px;

    justify-content: left;

    font-weight: 400;

    border-radius: .5rem;

    margin: 15px;

}

.card:first-child{

    margin-left: 0;

}

.card:last-child{

    margin-right:0 ;

}

.card img{

    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;

    height: 200px;

}

.card .card-body{

    padding: 30px;
    padding-bottom:110px;

}

.card h4{

    font-size: 21px;


}   


/* =============================================================================================================== */
/*Patters*/

.padding-patter{

    padding: 5rem .5rem;

}











/* =============================================================================================================== */
/* Hero Section */

/* Background cover */
.video-background{
    
	width: 100%;
  	min-height: 100vh;	

	background-image: url(../img/images/escritorio/back_321.jpg);
    background-size:cover;
    
    position: relative;
    background-position-x: 0px;
  
}

.video-wrap{

	width: 100%;
	height: 100%;

	background: rgb(100,101,102);
    background: linear-gradient(175deg, rgba(61,115,221,0.8777485994397759) 10%, rgba(14,32,69,0.8477766106442577) 85%);
    
    position: absolute;
	top: 0;
    left: 0;
    
}
 

/* =============================================================================================================== */
/*Banner Caption*/

.caption{
  
	position: absolute;
	top: 34%;
	width: 100%;

	color: #ffffff;;
  
}
  
.caption h3{
    
    font-size: 3.375rem;

    color: #ffffff;
  
    padding-bottom: 1rem;

    text-align: center;
    
  
}

.caption p{

    color: #ffffff;

    justify-content: center;

    text-align: center;

    padding-bottom: 3.2rem;

}


/*Button*/
.caption .btn{

    width: 150px;

    display: block;

    font-size: 18px;
    font-weight: 700;

    border-radius: 50px;

    margin: 25px auto;

    text-align: center;

}












/* =============================================================================================================== */
/*NavBar*/

nav{

    max-width: 1200px;
    margin:auto;

}

nav .navbar-brand img{

    height: 50px;
    width: 80px;

}

nav .nav-item{

    padding: 0px 22px;
    margin: 1px;

}

/*Navbar - Dark*/
.navbar-dark .navbar-nav .nav-link{

    color: white;
    transition: .3s;

}

.navbar-dark .navbar-nav .nav-link:hover{

    color: #FF5C5C;

}

/* ================================= */
/* Mobile Things */

/* Nav Bar Mobile Button */
nav .navbar-toggler{

    outline:0;
    border-color:white !important;

}

/* NavBar Mobile Menu */
nav .show .nav-item{

    background-color:rgba(0,0,0,.1);

}

nav .show .nav-item:hover{

    background: rgba(0,0,0,.1);

}


/* =================================*/
/* Smooth invisible nav --> JS */
.shrink{

    transition: .5s;
    opacity: 0;
    
}


/* =============================================================================================================== */
/*Body-1*/

.body-1{

    padding: 5rem .5rem;

}

.body-1 h2{

    text-align: left;

}

.body-1 p{

    text-indent: 10px;

}

.body-1 img{

    width: 500px;
    height: 350px;

}

.body-1 figure img{

    width: 200px;
    height: 200px;

    border: 1px solid black;
    border-radius: 50%;

}

.body-1 figure p{

    text-align: center;

}


/* =============================================================================================================== */
/*Body-2*/

.body-2{

    padding: 5rem .5rem;

    background-color: #F5F7F8;

    line-height: 30px;

}

.body-2 p{

    justify-content: center;

}

/* Button */
.body-2 .btn{

    width: 150px;
    height: 3rem;

    margin: 2.5rem 0;

}

.body-2 .btn.downloadBtn{

    width: 100%;
    margin: 0;

}

/* =============================================================================================================== */
/*Body-3*/

.body-3 h2{

    text-align: left; 
    
    color: white;

}

.body-3 hr{

    margin: 15px 15px 15px 0px;

}

.body-3 p{

    color: white;

}


/*List*/
.body-3 ul{

    list-style-type:none;
    text-decoration: none;
    
    padding: 0;
    margin:0;

}

.body-3 ul li{

    padding: 10px;
    margin:20px 0px;

    border-radius: 1rem;

    border-top-left-radius: 0;
    border-bottom-left-radius:0;

    background-color: #A6AFBD;

    font-weight: bolder;

    
}

.body-3 ul li a{

    color: white;
    text-decoration: none;

    
}

.body-3 ul li a:hover{

    color: #3D73DD;

    
}

.body-3 ul li:last-child{

    
    margin:20px 0px 0px 0px;
    
}

.borders {

    position: relative;
    border: 1px solid #A6AFBD;
    /*#0E2045
    #A6AFBD*/
}



/*Card*/
.body-3 .card{

    
    width: 100%;
    height: 100%;

    margin: 0px;

    justify-content: left;

    font-weight: 400;

    border-radius: 7px;

}

.body-3 .card img{

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    

    height: 200px;

}

.body-3 .card .card-body{

    padding: 10px;

}

.body-3 .card h4{

    color: black;
    font-size: 21px;

}

.body-3 .card h5{

    font-size: 15px;

}

.body-3 .card p{

    color: #666666;

}

.body-3 .card .card-footer{

    border-radius: 0;
    border: 0;

    background-color: white;

}

/*Button*/
.body-3 .btn{

    width: 150px;

}

/* =============================================================================================================== */
/*Background Custom*/

.background-3{

    background-image: url(../img/Blog/blog4.jpg);
    position: relative;

    background-position: cover;
    background-size: cover;
    background-attachment: fixed;

}


.overlay-3{

    position: absolute;

    width: 100%;
    height: 100%;

    background: rgb(100,101,102);
    background: linear-gradient(175deg, rgba(61,115,221,0.8777485994397759) 15%, rgba(14,32,69,0.8477766106442577) 85%);



    top:0;

}


/* =============================================================================================================== */
/*Body-4*/

.body-4{
    
    line-height: 30px;

    color: #000000;

    padding: 5rem .5rem;


}

.body-4 h2{

    text-align: center;

}


/* =============================================================================================================== */
/*Body-5*/

.body-5{

    padding: 5rem .5rem;

    background-color: #F5F7F8;
    color: black;

    line-height: 30px;

}

/*Forms*/
.body-5 .form-control{

    outline: none;

    height: 45px;
    margin: 10px 0;

}

.body-5 .form-control:focus{
    
    outline: none;
    border:0;
    box-shadow: none;

}

.body-5 textarea{

    
    resize: none;

    height: 130px !important;

}

.body-5 form textarea,.body-5 form input{

    background-color: rgba(0,0,0,.2);

    border-radius: 0;  
    border:0;

}

.body-5 form textarea:focus,.body-5 form input:focus{

    background-color: rgba(0,0,0,.2);
    outline: none;

}

/*Social Medias*/
.body-5 .social-media{

    color:black;

}

.body-5 .social-media .social{

    margin: .5rem 1rem;
    text-decoration: none;
    color:black;

    transition: .2s;
}

.body-5 .social-media .social:hover{

    text-decoration: none;
    color: #FF5C5C;
}

.body-5 .social-media a:hover{

    text-decoration: none;
 
}

/*Button*/
.body-5 .btn{

    width: 100%;


}

/* =============================================================================================================== */
/* Footer */

.footer{

	background-color: #0E2045;
    color: white;

}

.footer i{

	margin: 10px;

}


.footer .by{

	font-size: 12px;

}



/* =============================================================================================================== */
/*Footer Menu*/

.inline{

	display: flex;
	flex-direction: row;
    color: #a1a1a1;
    color: white;
	text-decoration: none;

	justify-content: space-around;
}

.inline li{
	
	
	list-style-type: none;
	margin: 0 5px;

}

.inline li a{
	
	color: #a1a1a1;
    color: white;

	font-weight: 600;
	font-size: 14px;

	text-decoration: none;
	text-transform: uppercase;

	list-style-type: none;

}


@media (max-width: 768px){

    .inline.x{

        flex-direction: column;

    }

    .inline.x .list-item{

        margin-bottom: 15px;
    }


}























/* =============================================================================================================== */
/*--- iOS Landing Page Fix --*/
.landing {

	position: relative;
	width: 100%;
	height: 100vh;
	display: table;
	
    z-index: 1;
    
}
  
.home-wrap {

	clip: rect(0, auto, auto, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    
}

.home-inner {

	position: fixed;
	display: table;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
    will-change: transform;
    
}
 